<h1>あらすじ</h1>
<p>
船長室で寝ている間にどうやら盗まれたようだ。</br>
君は少年探偵団の一員。そのことに船長も気づいたらしく</br>
「君！私の帽子を探してくれないか！？」</br>
「見事探し当てることができれば、港に着いたら特別なプレゼントするよ」</br>
さぁ、君は犯人を見つけ出し、帽子を取り戻せることができるかな？</br>
</p>

<li><%= link_to "参考になる人物を確認する", story_character_path %></li>
